/**,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*/
.table {
  border-collapse: collapse;
  margin: 1.5rem 0.5rem;
  font-size: 0.9em;
  min-width: min-content;
  color: #fff;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 3px 3px 16px rgba(0, 0, 0, 0.8);
  box-sizing: border-box; }
  .table--primary {
    background-color: #333;
    text-align: left;
    color: #fff; }
    .table--primary th,
    .table--primary td {
      padding: 0.8rem 1rem; }
    .table--primary thead {
      letter-spacing: 1.1px; }
    .table--primary__body {
      background: linear-gradient(to bottom right, blue 35%, navy); }
      .table--primary__body tr:nth-of-type(even) {
        background-color: #1a1aff; }
      .table--primary__body tr:not(:last-of-type) {
        border-bottom: 1px solid #fafafa3d; }
      .table--primary__body tr:last-of-type {
        border-bottom: 3px solid #333; }

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 0.8s; }

@keyframes fadeIn {
  0% {
    transform: scale(0.5);
    opacity: 0.5; }
  100% {
    transform: scale(1);
    opacity: 1; } }

.btn {
  display: inline-block;
  cursor: pointer;
  padding: 0.8rem 1.4rem;
  border-radius: 10rem;
  border: none;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.6px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
  margin: 0 0.3rem;
  transition: transform 0.3s ease; }
  .btn--primary {
    background-color: #eee;
    transition: transform 0.2s;
    display: flex;
    align-items: center; }
    .btn--primary i {
      transform: translateX(-3px);
      margin-right: 3px;
      font-size: 140%;
      color: #f0950d; }
    .btn--primary:hover {
      transform: translateY(-2px);
      box-shadow: 4px 4px 14px 1px rgba(0, 0, 0, 0.3); }
    .btn--primary:active {
      transform: translateY(-1px);
      box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.3); }
  .btn--secondary {
    display: flex;
    align-items: center; }
  .btn--small {
    font-size: 0.8em;
    border-radius: 5px;
    padding: 0.4rem 0.8rem;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 0.8px; }

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  background-color: #444;
  border-radius: 100%;
  margin-right: 5px;
  overflow: hidden; }
  .icon-container i {
    color: #fff; }

.checkbox-toggle {
  width: 44px;
  height: calc(44px / 2);
  border-radius: calc(calc(44px / 2) / 2);
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer; }
  .checkbox-toggle__input {
    display: none; }
    .checkbox-toggle__input:checked ~ .checkbox-toggle__input-fill {
      background-color: #0099ff; }
      .checkbox-toggle__input:checked ~ .checkbox-toggle__input-fill::after {
        transform: translateX(calc(44px / 2)); }
    .checkbox-toggle__input-fill {
      position: relative;
      width: 44px;
      height: calc(44px / 2);
      border-radius: calc(calc(44px / 2) / 2);
      background-color: #ccc;
      transition: background-color 0.2s; }
      .checkbox-toggle__input-fill::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: calc(44px / 2);
        height: calc(44px / 2);
        border-radius: calc(calc(44px / 2) / 2);
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
        transition: transform 0.2s; }

.form {
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #fff;
  font-family: inherit;
  margin: auto;
  min-height: auto;
  min-width: auto;
  max-width: 25rem;
  overflow: hidden;
  padding: 0.5rem 1.3rem;
  display: flex;
  flex-direction: column; }
  .form--gradient {
    background: linear-gradient(to right bottom, #1c92d2, #f2fcfe);
    box-shadow: 3px 3px 10px 2px #5db4e4; }
  .form__header {
    align-self: center;
    font-size: 2.4rem;
    font-weight: 300;
    margin: 0.5rem 0 2.25rem;
    letter-spacing: 3px;
    text-transform: capitalize; }
  .form__group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    column-gap: 0.5rem;
    margin-bottom: 1.3rem; }
  .form__label {
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: capitalize; }
  .form__input {
    border-radius: 4px;
    outline: none;
    border: none;
    padding: 0.3rem 0.4rem;
    font-size: 0.8rem; }
  .form__buttons {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap; }
    .form__buttons > .btn {
      background-color: #1093df;
      border-radius: 8px;
      border: none;
      color: #fff;
      cursor: pointer;
      font-weight: 500;
      letter-spacing: 1px;
      margin-bottom: 1.5rem;
      outline: none;
      padding: 0.4rem 0.8rem;
      text-align: center;
      text-transform: capitalize;
      transition: transform 0.2s; }
      .form__buttons > .btn:last-of-type {
        background-color: #dba053;
        color: #444;
        font-weight: 600;
        letter-spacing: 2px;
        min-width: 60%;
        text-transform: uppercase; }
      .form__buttons > .btn:hover {
        transform: translateY(-2px); }
      .form__buttons > .btn:active {
        transform: translateY(-1px); }

/*# sourceMappingURL=data:application/json;base64,ewoJInZlcnNpb24iOiAzLAoJImZpbGUiOiAiU2Nzcy9tYWluLmNzcyIsCgkic291cmNlcyI6IFsKCQkiU2Nzcy9tYWluLnNjc3MiLAoJCSJTY3NzL2NvbXBvbmVudHMvX2N1c3RvbVRhYmxlLnNjc3MiLAoJCSJTY3NzL2NvbXBvbmVudHMvX2Zvcm0uc2NzcyIKCV0sCgkibmFtZXMiOiBbXSwKCSJtYXBwaW5ncyI6ICJBQ0FBOzs7Ozs7O0VBT0U7QUFFRixBQUFBLE1BQU0sQ0FBQztFQUNILGVBQWUsRUFBRSxRQUFRO0VBQ3pCLE1BQU0sRUFBRSxhQUFhO0VBQ3JCLFNBQVMsRUFBRSxLQUFLO0VBQ2hCLFNBQVMsRUFBRSxXQUFXO0VBQ3RCLEtBQUssRUFBRSxJQUFJO0VBQ1gsYUFBYSxFQUFFLE1BQU07RUFDckIsUUFBUSxFQUFFLE1BQU07RUFDaEIsVUFBVSxFQUFFLEdBQUcsQ0FBQyxHQUFHLENBQUMsSUFBSSxDQUFNLGtCQUFJO0VBQ2xDLFVBQVUsRUFBRSxVQUFVLEdBaUN6QjtFQS9CRyxBQUFBLGVBQVUsQ0FBQztJQUNQLGdCQUFnQixFQUFFLElBQUk7SUFDdEIsVUFBVSxFQUFFLElBQUk7SUFDaEIsS0FBSyxFQUFFLElBQUksR0EyQmQ7SUE5QkQsQUFLSSxlQUxNLENBS04sRUFBRTtJQUxOLEFBTUksZUFOTSxDQU1OLEVBQUUsQ0FBQztNQUNDLE9BQU8sRUFBRSxXQUFXLEdBQ3ZCO0lBUkwsQUFVSSxlQVZNLENBVU4sS0FBSyxDQUFDO01BQ0YsY0FBYyxFQUFFLEtBQUssR0FDeEI7SUFFRCxBQUFBLHFCQUFPLENBQUM7TUFDSixVQUFVLEVBQUUsZ0RBQWdELEdBYy9EO01BZkQsQUFJSSxxQkFKRyxDQUlILEVBQUUsQUFBQSxZQUFhLENBQUEsQUFBQSxJQUFJLEVBQUU7UUFDakIsZ0JBQWdCLEVBQUUsT0FBb0IsR0FDekM7TUFOTCxBQVFJLHFCQVJHLENBUUgsRUFBRSxBQUFBLElBQUssQ0FBQSxBQUFBLGFBQWEsRUFBRTtRQUNsQixhQUFhLEVBQUUsR0FBRyxDQUFDLEtBQUssQ0FBQyxTQUFTLEdBQ3JDO01BVkwsQUFZSSxxQkFaRyxDQVlILEVBQUUsQUFBQSxhQUFhLENBQUM7UUFDWixhQUFhLEVBQUUsY0FBYyxHQUNoQzs7QUFLYixBQUFBLE9BQU8sQ0FBQztFQUNKLGNBQWMsRUFBRSxNQUFNO0VBQ3RCLGtCQUFrQixFQUFFLElBQUksR0FDM0I7O0FBRUQsVUFBVSxDQUFWLE1BQVU7RUFDTixBQUFBLEVBQUU7SUFDRSxTQUFTLEVBQUUsVUFBVTtJQUNyQixPQUFPLEVBQUUsR0FBRztFQUdoQixBQUFBLElBQUk7SUFDQSxTQUFTLEVBQUUsUUFBUTtJQUNuQixPQUFPLEVBQUUsQ0FBQzs7QUFJbEIsQUFBQSxJQUFJLENBQUM7RUFDRCxPQUFPLEVBQUUsWUFBWTtFQUNyQixNQUFNLEVBQUUsT0FBTztFQUNmLE9BQU8sRUFBRSxhQUFhO0VBQ3RCLGFBQWEsRUFBRSxLQUFLO0VBQ3BCLE1BQU0sRUFBRSxJQUFJO0VBQ1osU0FBUyxFQUFFLElBQUk7RUFDZixVQUFVLEVBQUUsTUFBTTtFQUNsQixjQUFjLEVBQUUsU0FBUztFQUN6QixXQUFXLEVBQUUsR0FBRztFQUNoQixjQUFjLEVBQUUsS0FBSztFQUNyQixVQUFVLEVBQUUsR0FBRyxDQUFDLEdBQUcsQ0FBQyxJQUFJLENBQU0sa0JBQUk7RUFDbEMsTUFBTSxFQUFFLFFBQVE7RUFDaEIsVUFBVSxFQUFFLG1CQUFtQixHQXdDbEM7RUF0Q0csQUFBQSxhQUFVLENBQUM7SUFDUCxnQkFBZ0IsRUFBRSxJQUFJO0lBQ3RCLFVBQVUsRUFBRSxjQUFjO0lBQzFCLE9BQU8sRUFBRSxJQUFJO0lBQ2IsV0FBVyxFQUFFLE1BQU0sR0FrQnRCO0lBdEJELEFBTUksYUFOTSxDQU1OLENBQUMsQ0FBQztNQUNFLFNBQVMsRUFBRSxnQkFBZ0I7TUFDM0IsWUFBWSxFQUFFLEdBQUc7TUFDakIsU0FBUyxFQUFFLElBQUk7TUFDZixLQUFLLEVBQUUsT0FBTyxHQUNqQjtJQVhMLEFBYUksYUFiTSxBQWFOLE1BQU8sQ0FBQztNQUNKLFNBQVMsRUFBRSxnQkFBZ0I7TUFDM0IsVUFBVSxFQUFFLEdBQUcsQ0FBQyxHQUFHLENBQUMsSUFBSSxDQUFDLEdBQUcsQ0FBTSxrQkFBSSxHQUN6QztJQWhCTCxBQWtCSSxhQWxCTSxBQWtCTixPQUFRLENBQUM7TUFDTCxTQUFTLEVBQUUsZ0JBQWdCO01BQzNCLFVBQVUsRUFBRSxHQUFHLENBQUMsR0FBRyxDQUFDLEdBQUcsQ0FBTSxrQkFBSSxHQUNwQztFQUdMLEFBQUEsZUFBWSxDQUFDO0lBQ1QsT0FBTyxFQUFFLElBQUk7SUFDYixXQUFXLEVBQUUsTUFBTSxHQUN0QjtFQUVELEFBQUEsV0FBUSxDQUFDO0lBQ0wsU0FBUyxFQUFFLEtBQUs7SUFDaEIsYUFBYSxFQUFFLEdBQUc7SUFDbEIsT0FBTyxFQUFFLGFBQWE7SUFDdEIsVUFBVSxFQUFFLE1BQU07SUFDbEIsY0FBYyxFQUFFLFVBQVU7SUFDMUIsV0FBVyxFQUFFLEdBQUc7SUFDaEIsY0FBYyxFQUFFLEtBQUssR0FDeEI7O0FBR0wsQUFBQSxlQUFlLENBQUM7RUFDWixPQUFPLEVBQUUsSUFBSTtFQUNiLGVBQWUsRUFBRSxNQUFNO0VBQ3ZCLFdBQVcsRUFBRSxNQUFNO0VBQ25CLEtBQUssRUFBRSxHQUFHO0VBRVYsZ0JBQWdCLEVBQUUsSUFBSTtFQUN0QixhQUFhLEVBQUUsSUFBSTtFQUNuQixZQUFZLEVBQUUsR0FBRztFQUNqQixRQUFRLEVBQUUsTUFBTSxHQUtuQjtFQWRELEFBV0ksZUFYVyxDQVdYLENBQUMsQ0FBQztJQUNFLEtBQUssRUFBRSxJQUFJLEdBQ2Q7O0FBT0wsQUFBQSxnQkFBZ0IsQ0FBQztFQUNiLEtBQUssRUFMUSxJQUFJO0VBTWpCLE1BQU0sRUFMUSxjQUE0QjtFQU0xQyxhQUFhLEVBTFEsd0JBQTZCO0VBTWxELFVBQVUsRUFBRSxVQUFVO0VBQ3RCLE9BQU8sRUFBRSxZQUFZO0VBQ3JCLE1BQU0sRUFBRSxPQUFPLEdBcUNsQjtFQW5DRyxBQUFBLHVCQUFRLENBQUM7SUFTTCxPQUFPLEVBQUUsSUFBSSxHQXlCaEI7SUFsQ0QsQUFDZ0IsdUJBRFIsQUFDSixRQUFTLEdBQUcsNEJBQTRCLENBQUM7TUFDckMsZ0JBQWdCLEVBQUUsT0FBTyxHQUs1QjtNQVBMLEFBQ2dCLHVCQURSLEFBQ0osUUFBUyxHQUFHLDRCQUE0QixBQUdwQyxPQUFRLENBQUM7UUFDTCxTQUFTLEVBQUUsMEJBQTRCLEdBQzFDO0lBS0wsQUFBQSw0QkFBTSxDQUFDO01BQ0gsUUFBUSxFQUFFLFFBQVE7TUFDbEIsS0FBSyxFQXpCQSxJQUFJO01BMEJULE1BQU0sRUF6QkEsY0FBNEI7TUEwQmxDLGFBQWEsRUF6QkEsd0JBQTZCO01BMkIxQyxnQkFBZ0IsRUFBRSxJQUFJO01BQ3RCLFVBQVUsRUFBRSxxQkFBcUIsR0FlcEM7TUF0QkQsQUFTSSw0QkFURSxBQVNGLE9BQVEsQ0FBQztRQUNMLE9BQU8sRUFBRSxFQUFFO1FBQ1gsUUFBUSxFQUFFLFFBQVE7UUFDbEIsR0FBRyxFQUFFLENBQUM7UUFDTixJQUFJLEVBQUUsQ0FBQztRQUVQLEtBQUssRUFyQ0gsY0FBNEI7UUFzQzlCLE1BQU0sRUF0Q0osY0FBNEI7UUF1QzlCLGFBQWEsRUF0Q0osd0JBQTZCO1FBdUN0QyxnQkFBZ0IsRUFBRSxJQUFJO1FBQ3RCLFVBQVUsRUFBRSxDQUFDLENBQUMsQ0FBQyxDQUFDLElBQUksQ0FBTSxtQkFBSTtRQUM5QixVQUFVLEVBQUUsY0FBYyxHQUM3Qjs7QUN6TGIsQUFBQSxLQUFLLENBQUM7RUFDRixhQUFhLEVBQUUsTUFBTTtFQUNyQixVQUFVLEVBQUUsVUFBVTtFQUN0QixLQUFLLEVBQUUsSUFBSTtFQUNYLFdBQVcsRUFBRSxPQUFPO0VBQ3BCLE1BQU0sRUFBRSxJQUFJO0VBQ1osVUFBVSxFQUFFLElBQUk7RUFDaEIsU0FBUyxFQUFFLElBQUk7RUFDZixTQUFTLEVBQUUsS0FBSztFQUNoQixRQUFRLEVBQUUsTUFBTTtFQUNoQixPQUFPLEVBQUUsYUFBYTtFQUN0QixPQUFPLEVBQUUsSUFBSTtFQUNiLGNBQWMsRUFBRSxNQUFNLEdBa0Z6QjtFQWhGRyxBQUFBLGVBQVcsQ0FBQztJQUNSLFVBQVUsRUFBRSxrREFBa0Q7SUFDOUQsVUFBVSxFQUFFLHdCQUF3QixHQUN2QztFQUVELEFBQUEsYUFBUyxDQUFDO0lBQ04sVUFBVSxFQUFFLE1BQU07SUFDbEIsU0FBUyxFQUFFLE1BQU07SUFDakIsV0FBVyxFQUFFLEdBQUc7SUFDaEIsTUFBTSxFQUFFLGdCQUFnQjtJQUN4QixjQUFjLEVBQUUsR0FBRztJQUNuQixjQUFjLEVBQUUsVUFBVSxHQUM3QjtFQUVELEFBQUEsWUFBUSxDQUFDO0lBSUwsT0FBTyxFQUFFLElBQUk7SUFDYixxQkFBcUIsRUFBRSxjQUFjO0lBQ3JDLGVBQWUsRUFBRSxhQUFhO0lBQzlCLFdBQVcsRUFBRSxNQUFNO0lBQ25CLFVBQVUsRUFBRSxNQUFNO0lBQ2xCLGFBQWEsRUFBRSxNQUFNLEdBQ3hCO0VBRUQsQUFBQSxZQUFRLENBQUM7SUFDTCxTQUFTLEVBQUUsTUFBTTtJQUNqQixXQUFXLEVBQUUsR0FBRztJQUNoQixjQUFjLEVBQUUsVUFBVSxHQUM3QjtFQUVELEFBQUEsWUFBUSxDQUFDO0lBQ0wsYUFBYSxFQUFFLEdBQUc7SUFDbEIsT0FBTyxFQUFFLElBQUk7SUFDYixNQUFNLEVBQUUsSUFBSTtJQUNaLE9BQU8sRUFBRSxhQUFhO0lBQ3RCLFNBQVMsRUFBRSxNQUFNLEdBQ3BCO0VBRUQsQUFBQSxjQUFVLENBQUM7SUFDUCxVQUFVLEVBQUUsTUFBTTtJQUNsQixPQUFPLEVBQUUsSUFBSTtJQUNiLFdBQVcsRUFBRSxNQUFNO0lBQ25CLGVBQWUsRUFBRSxZQUFZO0lBQzdCLFNBQVMsRUFBRSxJQUFJLEdBa0NsQjtJQXZDRCxBQU9NLGNBUEksR0FPSixJQUFJLENBQUM7TUFDSCxnQkFBZ0IsRUFBRSxPQUFPO01BQ3pCLGFBQWEsRUFBRSxHQUFHO01BQ2xCLE1BQU0sRUFBRSxJQUFJO01BQ1osS0FBSyxFQUFFLElBQUk7TUFDWCxNQUFNLEVBQUUsT0FBTztNQUNmLFdBQVcsRUFBRSxHQUFHO01BQ2hCLGNBQWMsRUFBRSxHQUFHO01BQ25CLGFBQWEsRUFBRSxNQUFNO01BQ3JCLE9BQU8sRUFBRSxJQUFJO01BQ2IsT0FBTyxFQUFFLGFBQWE7TUFDdEIsVUFBVSxFQUFFLE1BQU07TUFDbEIsY0FBYyxFQUFFLFVBQVU7TUFDMUIsVUFBVSxFQUFFLGNBQWMsR0FrQjdCO01BdENMLEFBT00sY0FQSSxHQU9KLElBQUksQUFlRixhQUFjLENBQUM7UUFDWCxnQkFBZ0IsRUFBRSxPQUFPO1FBQ3pCLEtBQUssRUFBRSxJQUFJO1FBQ1gsV0FBVyxFQUFFLEdBQUc7UUFDaEIsY0FBYyxFQUFFLEdBQUc7UUFDbkIsU0FBUyxFQUFFLEdBQUc7UUFDZCxjQUFjLEVBQUUsU0FBUyxHQUM1QjtNQTdCVCxBQU9NLGNBUEksR0FPSixJQUFJLEFBd0JGLE1BQU8sQ0FBQztRQUNKLFNBQVMsRUFBRSxnQkFBZ0IsR0FDOUI7TUFqQ1QsQUFPTSxjQVBJLEdBT0osSUFBSSxBQTRCRixPQUFRLENBQUM7UUFDTCxTQUFTLEVBQUUsZ0JBQWdCLEdBQzlCIgp9 */